/* Global styles, fonts --------------------------- */

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("https://fonts.google.com/specimen/Roboto?query=roboto");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(160, 160, 160, 0.164);
}

.active {
    border: 1px solid #ccc;
    padding: 6px;
}


/* Variables --------------------------- */

:root {
    --light-grey: rgb(204, 204, 204);
    --dark-grey: rgb(50, 50, 50);
    --green: rgb(7, 180, 7);
}


/* Nav --------------------------- */

nav {
    background-color: black;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}

.h1Container {
    display: flex;
}

.logo {
    height: 25px;
    margin: 3px 8px;
}

nav h1,
nav a {
    color: white;
}

nav a {
    text-decoration: underline;
}

nav ul {
    margin: 5px;
    transition: transform 0.5s ease;
}

nav ul :hover {
    transform: scale(1.1);
}

nav li {

    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    transition: transform 0.1s;
}

#hamburgerMenu {
    display: none;
}


/* Index --------------------------- */

main {
    background-color: white;
    max-width: 1300px;
    margin: 0 auto;
    min-height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
}

.backgroundImage {
    width: 100%;
    min-height: 35vh;
    background-image: url(/images/earth-1272884_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
}

.backgroundImage p {
    color: white;
    margin: 10px 0px 10px 30px;
    font-size: 1.2rem;
    max-width: 500px;
}

.backgroundImage p:first-child {
    margin-bottom: 30px;
    font-style: italic;
}

.secondHeading {
    margin: 40px auto;
    text-align: center;
    border-bottom: 2px solid var(--light-grey);
    width: 200px;
}

.indexSection {
    margin: 50px auto;
    max-width: 600px;
}

.indexSection p {
    margin: 15px 0px;
}

.blogLink {
    margin: 0px;
    text-align: center;
}

.blogLink h3 {
    margin: 50px;
    color: black;
    text-decoration: underline;
    font-style: italic;
    font-weight: 400;
}

.blogLink h3:hover {
    color: rgb(105, 105, 105);
}

.spinner {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--light-grey);
    border-top-color: rgb(95, 94, 94);
    margin: 20px auto;
    animation: 1s spin infinite ease-in-out;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* Images --------------------------- */

.featuredImage {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}


/* Carousel Container --------------------------- */

.carouselWrapper {
    display: flex;
    justify-content: space-evenly;
}

.carouselContainer {
    border-top: 2px solid var(--light-grey);
    border-bottom: 2px solid var(--light-grey);
    padding: 15px 0px;
    width: 900px;
    justify-content: flex-start;
    overflow: hidden;
}

.slider {
    display: flex;
    height: 100%;
    width: 300%;
    transition: all 1s;
}

.cardContainer1,
.cardContainer2,
.cardContainer3 {
    /* border: 1px solid green; */
    display: flex;
    /* margin: 0px 10px; */
    justify-content: space-evenly;
    transition: all 1s;
    flex-basis: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 130px;
    margin: 0 auto;
}

.carouselCard {
    min-height: 90%;
    max-height: 18vh;
    min-width: 90%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
}

.carouselCardHeading {
    background-color: white;
    min-height: 30px;
}

.carousel__button--next,
.carousel__button--prev {
    border: 1px solid black;
    opacity: 1;
    font-weight: 400;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    font-size: 22px;
    align-self: center;
    display: block;
    margin: 10px;
    transition: all 150ms;
}

.carousel__button--next:hover,
.carousel__button--prev:hover {
    background-color: #ccc;
    cursor: pointer;
    opacity: 1;
}

.carousel__button--next:active,
.carousel__button--prev:active {
    transform: scale(1.15);
}

.postLink {
    display: block;
    flex-basis: 24%;
    min-height: 200px;
    max-height: 18vh;
    min-width: 200px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-clip: content-box;
}

.postLink h5 {
    height: 40%;
    font-size: 1rem;
    color: black;
    text-decoration: underline;
}

/* Blog ------------------------------------ */

.blogsContainer {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
}

.blogCard {
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    min-height: 250px;
    border: 1px solid var(--light-grey);
    border-radius: 2px;
    color: black;
}

.blogCard:hover {
    border-color: var(--dark-grey);
}

.blogImage {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 300ms;
    overflow: hidden;
}

.blogCard:hover .blogImage,
.blogCard:focus .blogImage {
    transform: scale(1.1);
}

.blogInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.blogInfoHeading {
    text-decoration: underline;
}

.blogInfo p {
    margin: 3px 0px;
}

.blogInfo .author,
.blogInfo .time {
    font-style: italic;
}

.blogImageWrapper {
    overflow: hidden;
}

.blogImageWrapper,
.blogInfo {
    flex-basis: 50%;
}

.hidden {
    display: none;
}

.showMore {
    display: block;
    margin: 30px auto;
    background-color: rgb(50, 50, 50);
    border-style: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 200ms;
}

.showMore:hover {
    transform: scale(1.1);
}

.showMore:active {
    transform: scale(1.2)
}


/* Specific page --------------------------- */

.featuredImageContainer {
    max-width: 600px;
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.specificContainer {
    max-width: 600px;
    margin: 0 auto;
}

.dateAndAuthorContainer p {
    font-style: italic;
}

.textContainer {
    margin: 30px 0px;
}

.textContainer p {
    margin-top: 30px;
}

.wp-block-quote p {
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 10px;
}

.wp-block-image {
    width: 250px;
    height: 250px;
    display: block;
    margin: 30px auto;
}

.wp-block-image {
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 1000; */
    pointer-events: none;
    /* display: none; */
}

.modalImage {
    display: block;
    width: 150px;
    height: 150px;
}

.imageContainer {
    margin: 0px auto;
    width: 150px;
    height: 150px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

/* About ------------------------------------------ */

.aboutContent {
    margin: 50px auto;
    max-width: 600px;
}

.aboutContent p {
    margin: 18px 0px;
}

/* Contact -----------------------------------------*/

.contactForm {
    border: 1px solid var(--light-grey);
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.contactForm label:nth-child(1n+2) {
    margin-bottom: 4px;
    margin-top: 30px;
}

.contactForm input {
    height: 30px;
}

#contactFormButton {
    padding: 15px;
    width: 160px;
    margin: 30px auto;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: all 200ms;
}

.buttonAnimation:hover {
    scale: 1.1;
}

.buttonAnimation:active {
    color: white;
}

.error {
    border: 2px solid rgb(255, 0, 0, 0.75);
    border-radius: 2px;
    padding: 5px;
    margin: 5px 0px;
    color: rgb(255, 0, 0);
    display: none;
}

.submissionSuccessful {
    font-size: 18px;
    background-color: var(--green);
    color: black;
    padding: 15px;
    margin: 30px auto;
    border-radius: 5px;
    display: none;
}


/* Footer ----------------------------------------- */

footer {
    margin: 0px auto;
    max-width: 1300px;
    min-height: 200px;
    /* border: 1px solid black; */
    background-image: linear-gradient(black, var(--dark-grey));
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.footerList {
    list-style: none;
}

footer h3 {
    color: white;
}

.footerList a {
    color: white;
    text-decoration: underline;
}

.footerList a:hover {
    color: #ccc;
}

.fa-youtube {
    color: red;
    margin-right: 5px;
}

.footerList li {
    margin: 10px 0px;
    font-size: 18px;
}

footer section {
    display: flex;
    flex-direction: column;
    /* border: 1px solid whitesmoke; */
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
    color: white;
    margin: 10px 0px;
    font-size: 30px;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover {
    color: rgb(192, 191, 191);
}

.titleContainer a {
    display: flex;
}

.titleContainer h2:hover {
    color: #ccc;
}

.titleContainer .fas {
    margin: 10px;
}

.titleContainer h2 {
    color: white;
    text-decoration: underline;
}


/* Media queries ---------------------------------- */

@media screen and (max-width: 930px) {

    .carouselContainer {
        max-width: 90vw;
    }

    .cardContainer1,
    .cardContainer2,
    .cardContainer3 {
        flex-wrap: wrap;
    }

    .postLink {
        margin: 10px 0px;
    }

    .blogsContainer {
        max-width: 90%;
    }

}


@media screen and (max-width: 750px) {

    .modal img {
        width: 300px;
        height: 250px;
    }

    .textContainer {
        max-width: 90%;
        margin: 20px auto;
    }

    .blogCard {
        flex-direction: column;
    }

    .blogImageWrapper,
    .blogImage {
        min-height: 150px;
    }

    .blogInfoHeading {
        margin-bottom: 10px;
    }

    .aboutContent {
        padding: 0px 25px;
    }

}

@media screen and (max-width: 630px) {

#hamburgerMenu {
    display: none;
}

nav ul{
    display: none;
}

.navList li {
    margin: 12px 0px;
}

.navList a {
    color: black;
}

.navList {
    background-color: white;
    width: 120px;
}

.navbar {
    position: relative;
}

#hamburgerMenu:checked ~ .navList {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 50px;
    border: 1px solid black;
    padding: 5px;
}

.navLabel {
    color: white;
    font-size: 26px;
}



}


@media screen and (max-width: 480px) {

    .postLink {
        min-width: 150px;
        min-height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .shortText {
        display: none;
    }


    .postLink h5 {
        height: 40%;
    }

    footer {
        flex-direction: column;
    }

    footer section {
        margin: 15px 0px;
    }

}