/* Global styles, fonts --------------------------- */

@font-face {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    src: url("https://fonts.google.com/specimen/Roboto?query=Roboto");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Arial';
  }
  
  a {
      text-decoration: none;
  }

  body {
      background-color: rgba(160, 160, 160, 0.164);
  }




/* Variables --------------------------- */

:root {
    --light-grey: rgb(204, 204, 204);
    --dark-grey: rgb(50, 50, 50);
    --green: rgb(7, 180, 7);
}


/* Nav --------------------------- */

nav {
    background-color: black;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
}

.h1Container {
    display: flex;
}

.logo {
    height: 25px;
    margin: 3px 8px;
}


nav h1,
nav a {
    color: white;
}

nav a {
    text-decoration: underline;
}

nav ul {
    margin: 5px;
    transition: transform 0.5s ease;
}

nav ul :hover {
    transform: scale(1.1);
}


nav li {
    border-right: 2px solid gray;
    list-style: none;
    display: inline-block;
    padding: 0px 10px;
    transition: transform 0.1s;
}

nav li:last-child {
    border: none;
}


/* Index --------------------------- */

main {
    background-color: white;
    max-width: 1300px;
    margin: 0 auto;
    min-height: 100vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
}

.backgroundImage {
    width: 100%;
    min-height: 50vh;
    background-image: url(/images/earth-1272884_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
}

.backgroundImage p {
    color: white;
    margin: 10px 0px 10px 30px;
    font-size: 1.2rem;
    max-width: 500px;
}

.backgroundImage p:first-child {
    margin-bottom: 30px;
    font-style: italic;
}


.secondHeading {
    margin: 40px auto;
    text-align: center;
    border-bottom: 2px solid var(--light-grey);
    width: 200px;
}

.blogLink {
    margin: 30px;
    text-align: center;
}

.blogLink h3 {
    margin: 30px;
    color: black;
    text-decoration: underline;
    font-style: italic;
    font-weight: 400;
}

.spinner {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid var(--light-grey);
    border-top-color: rgb(95, 94, 94);
    margin: 20px auto;
    animation: 1s spin infinite ease-in-out;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}


/* Images --------------------------- */

.featuredImage {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
}



/* Carousel Container --------------------------- */

.carouselContainer {
    /* display: flex; */
    border-top: 2px solid var(--light-grey);
    border-bottom: 2px solid var(--light-grey);
    margin: 30px auto;
    padding: 15px 0px;
    width: 900px;
    justify-content: flex-start;
    overflow: hidden;
}

.slider {
    display: flex;
    height: 100%;
    width: 300%;
    transition: all 1s;    
}

.cardContainer1,
.cardContainer2,
.cardContainer3 {
    /* border: 1px solid green; */
    display: flex;
    /* margin: 0px 10px; */
    justify-content: space-evenly;
    transition: all 1s;
    flex-basis: 100%;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 130px;
    margin: 0 auto;
}

.carouselCard {
    min-height: 90%;
    max-height: 18vh;
    min-width: 90%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-position: center;
    background-size: cover;
    background-clip: content-box;
}

.carouselCardHeading {
background-color: white;
min-height: 30px;
}

.carousel__button--next,
.carousel__button--prev {
    border: 2px solid black;
    opacity: 1;
    font-weight: 400;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 22px;
    align-self: center;
}

.carousel__button--next:hover,
.carousel__button--prev:hover {
    background-color: rgb(235, 229, 229);
    cursor: pointer;
    opacity: 1;
}

.postLink {
    display: block;
    flex-basis: 24%;
    min-height: 200px;
    max-height: 18vh;
    min-width: 200px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-clip: content-box;
}

.postLink h5 {
    height: 40%;
    font-size: 1rem;
    color: black;
    text-decoration: underline;
}

/* Blog ------------------------------------ */

.blogsContainer {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
}

.blogCard {
    margin: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    min-height: 250px;
    border: 1px solid var(--light-grey);
    border-radius: 2px;
    color: black;
}

.blogCard:hover {
    border-color: var(--dark-grey);
}

.blogImage {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: 300ms;
    overflow: hidden;
}


.blogCard:hover .blogImage,
.blogCard:focus .blogImage {
    transform: scale(1.1);
}


.blogInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.blogInfoHeading {
    text-decoration: underline;
}

.blogInfo p {
    margin: 3px 0px;
}

.blogInfo .author,
.blogInfo .time {
    font-style: italic;
}

.blogImageWrapper {
    overflow: hidden;
}

.blogImageWrapper,
.blogInfo {
    flex-basis: 50%;
}

.hidden {
    display: none;
}

.showMore {
    display: block;
    margin: 30px auto;
    background-color: rgb(50, 50, 50);
    border-style: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 200ms;
}

.showMore:hover {
    transform: scale(1.1);
}

.showMore:active {
    transform: scale(1.2)
}



/* Specific page --------------------------- */

.featuredImageContainer {
    max-width: 600px;
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px auto;;
}

.dateContainer {
    width: 200px;
    margin: 0 auto;
}

.textContainer {
    max-width: 600px;
    margin: 0 auto;
}

.textContainer p {
    margin-top: 30px;
}

.wp-block-quote p {
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 10px;
}

/* About ------------------------------------------ */

.aboutContent {
    margin: 50px auto;
    max-width: 600px;
}

.aboutContent p {
    margin: 18px 0px;
}

/* Contact -----------------------------------------*/

.contactForm {
    border: 1px solid var(--light-grey);
    display: flex;
    flex-direction: column;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.contactForm label:nth-child(1n+2) {
    margin-bottom: 4px;
    margin-top: 30px;
}

.contactForm input {
    height: 30px;
}

#contactFormButton {
    padding: 15px;
    width: 160px;
    margin: 30px auto;
    background-color: var(--green);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: all 200ms;
}

.buttonAnimation:hover {
    scale: 1.1;
}

.buttonAnimation:active {
    color: white;
}

.error {
    border: 2px solid rgb(255, 0, 0, 0.75);
    border-radius: 2px;
    padding: 5px;
    margin: 5px 0px;
    color: rgb(255, 0, 0);
    display: none;
}

.submissionSuccessful {
    font-size: 18px;
    background-color: var(--green);
    color: black;
    padding: 15px;
    margin: 10px auto;
    border-radius: 5px;
    display: none;
}


/* Footer ----------------------------------------- */


footer {
    margin: 0px auto;
    max-width: 1300px;
    min-height: 200px;
    /* border: 1px solid black; */
    background-image: linear-gradient(black, var(--dark-grey));
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.footerList {
    list-style: none;
}

footer h3 {
    color: white;
}

.footerList a {
    color: white;
    text-decoration: underline;
}

.fa-youtube {
    color: red;
    margin-right: 5px;
}

.footerList li {
    margin: 10px 0px;
    font-size: 18px;
}

footer section {
    display: flex;
    flex-direction: column;
    /* border: 1px solid whitesmoke; */
}

.fa-facebook,
.fa-instagram,
.fa-twitter {
    color: white;
    margin: 10px 0px;
    font-size: 30px;
}

.titleContainer a {
   display: flex;
}

.titleContainer h2 {
    color: white;
    text-decoration: underline;
}


/* Media queries ---------------------------------- */

@media screen and (max-width: 930px){

.carouselContainer {
    max-width: 90vw;
}
  
.cardContainer1,
.cardContainer2,
.cardContainer3 {
    flex-wrap: wrap;
}

.postLink {
    margin: 10px 0px;
}

}


@media screen and (max-width: 480px) {

    .postLink {
        min-width: 150px;
        min-height: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .postLink h5 {
        height: 40%;
    }

}